.btn-ghost:hover {
    background-color: #9cd3d0;
}

.blue-text {
    color: #3282F2;
}

.darkBlue-bg {
    background-color: #031239;
}

.darkBlue-bg:hover {
    background-color: #101E43;

}

.teal-bg {
    background-color: #1ad2c7;
}

.teal-bg-desaturated {
    background-color: #9cd3d0;
}

.teal-btn {
    background-color: #1ad2c7;
    color: black;
    font-weight: 600;
    border: none;
}

.teal-btn:hover {
    background-color: #9cd3d0;
}

.teal-border {
    border: solid 1px #1ad2c7;
}

//theme colors in the installation page

.default-theme {
    background-color: #101E43;
}
.blue-theme {
    background-color: #1373BF;
}
.red-theme {
    background-color: #BF131D;
}
.green-theme {
    background-color: #13BF5F;
}
.black-theme {
    background-color: #000000;
}
.light-blue-theme {
    background-color: #BFDFF9;
}
.teal-theme {
    background-color: #1DE8DD;
}
.light-pink-theme {
    background-color: #F386AD;
}
.light-green-theme {
    background-color: #A6F6C9;
}
.white-theme {
    background-color: #FFFAFA;
}
