#aceada-user-modes {
    .aceada-user-mode {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-top: 0.67px #E2ECEC solid;

        .aceada-user-mode-title {
            h1 {
                font-family: 'SF Pro Display Bold', sans-serif;
                font-size: 14px;
                font-weight: 600;
                line-height: 16px;
                color: #011817;
                margin: 0px;
                margin-bottom: -4px;
            }

            span {
                font-family: 'SF Pro Display Light', sans-serif;
                font-size: 12px;
                color: #496866;
            }
        }

        .aceada-switch {
            position: relative;
            display: inline-block;
            width: 44px;
            height: 23px;
        }

        .aceada-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .aceada-slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #C5DEDE;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 34px;
        }

        .aceada-slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            left: 4px;
            bottom: 3.5px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }

        input:checked + .aceada-slider {
            background-color: #1AD2C7;
        }

        input:focus + .aceada-slider {
            box-shadow: 0 0 1px #1AD2C7;
        }

        input:checked + .aceada-slider:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
        }
	}

    .aceada-user-mode:first-child {
        border-top: 0px;
    }

    .aceada-user-mode-sub-adjustments {
        padding: 10px;
        padding-top: 0px;
        padding-bottom: 14px;
        display: flex;
        justify-content: flex-start;
        gap: 10px;

        #aceada-highlight-titles-learning-mode {
            padding-left: 7% !important;
            padding-right: 7% !important;
        }

        #aceada-highlight-links-learning-mode {
            padding-left: 5% !important;
            padding-right: 5% !important;
        }
    }
}

@media screen and (min-width: 1008px) {
    #aceada-user-modes {
        .aceada-user-mode {
            .aceada-user-mode-title {
                h1 {
                    font-size: 16px;
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }
}
